<!doctype html>
<html lang="en" ng-app="tverrkraftig">
    <head>
        <meta charset="utf-8">
        <title>EiT Tverrkraftig</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.min.js"></script>
        <script>
            var app = angular.module('tverrkraftig', ['ngResource']),
                server = 'https://wodinaz.com';

            app.factory('Device', function($resource) {
                return $resource(server + '/status/:deviceId');
            });

            app.factory('Sensor', function($resource) {
                var single = $resource(server + '/data/:deviceId/:sensorId'),
                    list   = $resource(server + '/data/:deviceId', {}, {isArray: true});

                single.getAll = list.query.bind(list);

                return single;
            });

            app.factory('Command', function($resource) {
                return $resource(server + '/command/:deviceId', {'deviceId':'@deviceId'});
            });

            app.controller('BodyController', function ($scope, $timeout, Device, Sensor, Command) {
                $scope.deviceId = "client_0";
                $scope.disableCommand = false;

                $scope.sendCommand = function() {
                    var commandObject;
                    $scope.disableCommand = true;

                    try {
                        commandObject = JSON.parse($scope.commandText);
                        commandObject.deviceId = $scope.deviceId;

                        Command.save(commandObject, function() {
                            $scope.commandText = "";
                            console.log("Success!");
                        });
                    } catch (err) {
                        console.error(err);
                    } finally {
                        $scope.disableCommand = false;
                    }
                };

                $scope.sendCarCommand = function(command) {
                    try {
                        Command.save({"command": command, "deviceId": $scope.deviceId}, function() {
                            console.log(command + " sent!");
                        }, function() {
                            console.log(command + " not sent");
                        });
                    } catch (err) {
                        console.error(err);
                    }
                }

                var tick = function() {
                    both = false;

                    Device.get({deviceId: $scope.deviceId}, function(data) {
                        $scope.device = data;

                        if (both === false) {
                            both = true;
                        } else {
                            $timeout(tick, 5000);
                        }
                    },
                    function() {
                        $scope.device = {"Error": "No data for this resource"};

                        if (both === false) {
                            both = true;
                        } else {
                            $timeout(tick, 5000);
                        }
                    });

                    Sensor.getAll({deviceId: $scope.deviceId}, function(sensorData) {
                        console.log(sensorData);
                        $scope.sensors = sensorData;

                        if (both === false) {
                            both = true;
                        } else {
                            $timeout(tick, 5000);
                        }
                    },
                    function() {
                        $scope.sensors = [];

                        if (both === false) {
                            both = true;
                        } else {
                            $timeout(tick, 5000);
                        }
                    });
                };

                tick();
            });
        </script>
    </head>
    <body ng-controller="BodyController">
        Device: <input type="text" ng-model="deviceId"><br>
        <ul>
            <li ng-repeat="(key, value) in device">{{key}}: {{value}}</li>
        </ul>
        <strong>Sensors</strong>
        <ul ng-repeat="sensor in sensors">
            <li ng-repeat="(key, value) in sensor">{{key}}: {{value}}</li>
        </ul>
        <br>
        <button type="button" ng-click="sendCarCommand('forward')">Kjør framover</button>
        <button type="button" ng-click="sendCarCommand('backward')">Kjør bakover</button>
        <button type="button" ng-click="sendCarCommand('stop')">Stopp</button>
        <button type="button" ng-click="sendCarCommand('leftTurn')">Sving til venstre</button>
        <button type="button" ng-click="sendCarCommand('rightTurn')">Sving til høyre</button>
        <button type="button" ng-click="sendCarCommand('noTurn')">Stopp svinging</button>
        <br>
        <textarea ng-model="commandText" ng-disabled="disableCommand"></textarea><br>
        <button type="button" ng-disabled="disableCommand" ng-click="sendCommand()">Send command!</button>
    </body>
</html>
