<!doctype html>
<html lang="en" ng-app="tverrkraftig">
    <head>
        <meta charset="utf-8">
        <title>EiT Tverrkraftig</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.min.js"></script>
        <script>
            var app = angular.module('tverrkraftig', ['ngResource']),
                server = 'https://wodinaz.com';

            app.factory('Device', function($resource) {
                return $resource(server + '/status/:deviceId');
            });

            app.factory('Sensor', function($resource) {
                var single = $resource(server + '/data/:deviceId/:sensorId'),
                    list   = $resource(server + '/data/:deviceId', {}, {isArray: true});

                single.getAll = list.query.bind(list);

                return single;
            });

            app.factory('Command', function($resource) {
                return $resource(server + '/command/:deviceId', {'deviceId':'@deviceId'});
            });

            app.controller('BodyController', function ($scope, $timeout, Device, Sensor, Command) {
                $scope.deviceId = "client_0";
                $scope.disableCommand = false;
                $scope.xpos = 0;
                $scope.ypos = 155;
                $scope.zpos = 77;
                $scope.sendPos = false;

                $scope.sendCommand = function() {
                    var commandObject;
                    $scope.disableCommand = true;

                    try {
                        commandObject = JSON.parse($scope.commandText);
                        commandObject.deviceId = $scope.deviceId;

                        Command.save(commandObject, function() {
                            $scope.commandText = "";
                            console.log("Success!");
                        });
                    } catch (err) {
                        console.error(err);
                    } finally {
                        $scope.disableCommand = false;
                    }
                };

                $scope.sendCarCommand = function(command) {
                    try {
                        Command.save({"command": command, "deviceId": $scope.deviceId}, function() {
                            console.log(command + " sent!");
                        }, function() {
                            console.log(command + " not sent");
                        });
                    } catch (err) {
                        console.error(err);
                    }
                };

                $scope.setPosition = function() {
                    var x = +$scope.xpos || 0,
                        y = +$scope.ypos || 0,
                        z = +$scope.zpos || 0;

                    Command.save({"command": "position " + x + " " + y + " " + z, "deviceId": $scope.deviceId},
                    function() {
                        console.log("Position set");
                    }, function() {
                        console.error("Failed to set position");
                    });
                };

                var tick = function() {
                    both = false;

                    Device.get({deviceId: $scope.deviceId}, function(data) {
                        $scope.device = data;

                        if (both === false) {
                            both = true;
                        } else {
                            $timeout(tick, 5000);
                        }
                    },
                    function() {
                        $scope.device = {"Error": "No data for this resource"};

                        if (both === false) {
                            both = true;
                        } else {
                            $timeout(tick, 5000);
                        }
                    });

                    Sensor.getAll({deviceId: $scope.deviceId}, function(sensorData) {
                        console.log(sensorData);
                        $scope.sensors = sensorData;

                        if (both === false) {
                            both = true;
                        } else {
                            $timeout(tick, 5000);
                        }
                    },
                    function() {
                        $scope.sensors = [];

                        if (both === false) {
                            both = true;
                        } else {
                            $timeout(tick, 5000);
                        }
                    });
                };

                var decitick = function() {
                    if ($scope.sendPos) {
                        var x = +$scope.xpos || 0,
                            y = +$scope.ypos || 0,
                            z = +$scope.zpos || 0;

                        Command.save({"command": "position " + x + " " + y + " " + z, "deviceId": $scope.deviceId}, function() {console.log("success");}, function() {console.log("fail");});
                    }

                    $timeout(decitick, 100);
                };

                decitick();
                tick();
            });
        </script>
    </head>
    <body ng-controller="BodyController">
        Device: <input type="text" ng-model="deviceId"><br>
        <ul>
            <li ng-repeat="(key, value) in device">{{key}}: {{value}}</li>
        </ul>
        <strong>Sensors</strong>
        <ul ng-repeat="sensor in sensors">
            <li ng-repeat="(key, value) in sensor">{{key}}: {{value}}</li>
        </ul>
        <br>
        <button type="button" ng-click="sendCarCommand('forward')">Kjør framover</button>
        <button type="button" ng-click="sendCarCommand('backward')">Kjør bakover</button>
        <button type="button" ng-click="sendCarCommand('stop')">Stopp</button>
        <button type="button" ng-click="sendCarCommand('leftTurn')">Sving til venstre</button>
        <button type="button" ng-click="sendCarCommand('rightTurn')">Sving til høyre</button>
        <button type="button" ng-click="sendCarCommand('noTurn')">Stopp svinging</button>
        <br><br>
        <table style="border: 0;">
            <tr>
                <td>
                    x: <input type="text" ng-model="xpos">mm<br>
                    y: <input type="text" ng-model="ypos">mm<br>
                    z: <input type="text" ng-model="zpos">mm<br>
                    <button type="button" ng-click="setPosition()">Set position</button>
                </td>
                <td>
                    <canvas style="height: 300px; width: 600px" id="positioncanvas">
                    <script>
                        var el = document.getElementById("positioncanvas"),
                            ctx = el.getContext("2d");

                        for (var row = 0; row < 300; row += 10) {
                            ctx.moveTo(row, 0);
                            ctx.lineTo(row, 600);
                        }
                        ctx.moveTo(299, 0);
                        ctx.lineTo(299, 600);

                        for (var col = 0; col < 600; col += 10) {
                            ctx.moveTo(0, col);
                            ctx.lineTo(300, col);
                        }

                        ctx.strokeStyle = "black";
                        ctx.stroke();

                        var enabled = false;

                        el.onmousedown = function() {
                            enabled = true;
                        };

                        el.onmouseup = function() {
                            enabled = false;
                        };

                        el.onmouseover = function() {
                            var bodyscope = angular.element(document.getElementsByTagName("body")[0]).scope();

                            bodyscope.$apply(function() {
                                bodyscope.sendPos = true;
                            });
                        }

                        el.onmouseleave = function() {
                            var bodyscope = angular.element(document.getElementsByTagName("body")[0]).scope();

                            enabled = false;
                            bodyscope.$apply(function() {
                                bodyscope.sendPos = false;
                            });
                        };

                        el.onmousemove = function(event) {
                        var bodyscope = angular.element(document.getElementsByTagName("body")[0]).scope();
                            if (enabled) {
                                var movementX = event.movementX || event.mozMovementX || event.webkitMovementX || 0,
                                    movementY = event.movementY || event.mozMovementY || event.webkitMovementY || 0;

                                bodyscope.$apply(function() {
                                    bodyscope.xpos += movementX;
                                    bodyscope.ypos += movementY;
                                });
                            }
                        };

                        /* Chrome */
                        el.onmousewheel = function(event) {
                            var bodyscope = angular.element(document.getElementsByTagName("body")[0]).scope();

                            bodyscope.$apply(function() {
                                bodyscope.zpos += event.wheelDeltaY / 120;
                            });
                        };

                        /* Firefox */
                        el.addEventListener("DOMMouseScroll", function(event) {
                            var bodyscope = angular.element(document.getElementsByTagName("body")[0]).scope();

                            bodyscope.$apply(function() {
                                bodyscope.zpos += event.detail;
                            });
                        }, false);
                    </script>
                </td>
            </tr>
        </table>
        <br><br>
        <textarea ng-model="commandText" ng-disabled="disableCommand"></textarea><br>
        <button type="button" ng-disabled="disableCommand" ng-click="sendCommand()">Send command!</button>
    </body>
</html>
